.messagebox{
	position:absolute;
	margin-left:5px;
	width:auto;
	border:1px solid #c93;
	background:#ffc;
	padding:3px;
	font-family:calibri;
}
.messageboxok{
	position:absolute;
	margin-left:5px;
	width:auto;
	border:1px solid #349534;
	background:#C9FFCA;
	padding:3px;
	font-weight:bold;
	color:#008000;
	font-family:calibri;
}
.messageboxerror{
	position:absolute;
	margin-left:5px;
	width:auto;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:3px;
	font-weight:bold;
	color:#CC0000;
	font-family:calibri;
}


.messageboxleft105{
	position:absolute;
	margin-left:105px;
	width:auto;
	border:1px solid #c93;
	background:#ffc;
	padding:3px;
	font-family:calibri;
}

.messageboxokleft105{
	position:absolute;
	margin-left:105px;
	width:auto;
	border:1px solid #349534;
	background:#C9FFCA;
	padding:3px;
	font-weight:bold;
	color:#008000;
	font-family:calibri;
}
.messageboxerrorleft105{
	position:absolute;
	margin-left:105px;
	width:auto;
	border:1px solid #CC0000;
	background:#F7CBCA;
	padding:3px;
	font-weight:bold;
	color:#CC0000;
	font-family:calibri;
}
