body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; /* or 1em */
	color: #000;
	/* background: #E2E4E1; */
	background: #EEEEEE;
}

.home_table{
	border-spacing:20px;
}

.home_td {
	border: solid 1px #000;
}

#rbox{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #D2E4C9;
	color: #000;
	-moz-box-shadow: 0 1px 0 #CCCCCC;
	-webkit-box-shadow: 0 1px 0 #CCCCCC;
	padding:10px;
}

#homeleftbox{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #D2E4C9;
	color: #000;
	-moz-box-shadow: 0 1px 0 #CCCCCC;
	-webkit-box-shadow: 0 1px 0 #CCCCCC;
	padding:10px;
	float:left;
	width:450px;
	overflow:auto;
	min-height:130px;
}

#homerightbox{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #D2E4C9;
	color: #000;
	-moz-box-shadow: 0 1px 0 #CCCCCC;
	-webkit-box-shadow: 0 1px 0 #CCCCCC;
	padding:10px;
	float:right;
	width:450px;
	overflow:auto;
	min-height:130px;
}

#homeMain{
	padding:10px;
	overflow:auto;
	min-height:140px;
}

#box1,#box2,#box3{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #D2E4C9;
	color: #000;
	-moz-box-shadow: 0 1px 0 #CCCCCC;
	-webkit-box-shadow: 0 1px 0 #CCCCCC;
	padding:10px;
	float:left;
	width:200px;
	overflow:auto;
	min-height:200px;
	margin-right:20px;
	
}

#main-container{
	
}

.header-wide{
	background: #FFFFFF;
	border-bottom: #CCC 1px solid;
	margin:0;
}

#header{
	background: #FFFFFF;
	position: relative;
	height: 90px;
	width: 982px;
	margin: 0 auto;
	text-align: left;	
}

#header #logo{
	position: absolute;
	left: 0px;
	top: 15px;
	width: 303px;
	height: 70px;	
}

#header #account{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 600px;
	height: 20px;
	text-align:right;
	font-size: 12px;	
}

#header #search{
	position: absolute;
	right: 0px;
	top: 35px;
	width: 600px;
	height: 40px;
	text-align:left;	
}

.nav-wide{
	background: #D2E4C9;
	border-bottom: #CCC 1px solid;
}

#main-nav{
	background: #D2E4C9;
	position: relative;
	height: 30px;
	width: 982px;
	margin: 0;
	text-align: left;
}

#navlist{
	margin: 0;
	padding: 0 0 20px 0;
}

#navlist ul, #navlist li{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#navlist a:link, #navlist a:visited{
	float: left;
	line-height: 16px;
	margin: 0 24px 4px 0;
	text-decoration: none;
	color: #2277BF;
}

#navlist a:link#current, #navlist a:visited #current, #navlist a:hover{
	border-bottom: 5px solid #FFF;
	padding-bottom: 2px;
	background: transparent;
	color: #FFF;
	/*background: url(/images/arrow.gif) bottom center no-repeat;*/
}

#navlist a:hover{
	color: #FF0000;
}


#breadcrumb{
	text-align: left;
	width: 982px;
	color: #000;
	padding: 10px 0 10px 1px;
}

#main-content{
	text-align: left;
	width: 964px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #FFF;
	color: #000;
	-moz-box-shadow: 0 0 .5em #CCC;
	-webkit-box-shadow: 0 0 .5em #CCC;
	padding:10px;
}

#footer{
	position: relative;
	height: 15px;
	width: 982px;
	margin: 0 auto;
	text-align: left;
	font-size: 11px;
	padding-top:5px;
	padding-left:3px;
}

input[type=submit], form a {
	border: none;
	margin-right: 1em;
	padding: 2px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #348075;
	color: white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover {
	background: #333333;
}

/* Text and font colors */

h1,h2,h3,h4,h5,h6{
	margin:0;
}

.greentxt{
	color: #0A7414;
	font-weight:bold;
	font-size: 14px;
	margin:0px;
}

.redtxt{
	color: #90171E;
}